## ignoring temporary files from emacs/knitr/tex
*~

## ignoring intermediate/cached vignette data
vignettes/figure
vignettes/ksharp_cache
vignettes/ksharp_files


## ignoring figures and vignette outputs
*pdf
*png
*html

